<p>I am in the SERVERS component</p>
<input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
>
<!-- $event gives information about which event triggered the function
and data it collected from that event -->
<!-- Property binding (binding the attribute to the property of component) -->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
>
    Add Server
</button>

<p>The add server button bound to allowNewServer property of servers component and has value {{allowNewServer}}</p> <!-- string interpolation -->

<!-- property binding and string interpolations can be interchanged but
DO NOT mix both... use either of them. -->

<!-- Property Binding []
Event Binding ()
String interpolation {} -->
<p>{{serverCreation}}!</p>
<div class="app-server"></div>
<div class="app-server"></div>
<div class="app-server"></div>