<!--
Property Binding []
Event Binding ()
String interpolation {}
Two way binding [()]
Structural Directive *
Local Reference #
-->

<p>I am in the SERVERS component</p>
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<!-- (input)="onUpdateServerName($event)" -->
<!-- $event gives information about which event triggered the function
and data it collected from that event -->
<!-- Property binding (binding the attribute to the property of component) -->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
>
    Add Server
</button>

<p>The 'Add Server' button bound to 'allowNewServer' property of servers component and has value <b>{{allowNewServer}}</b></p> <!-- string interpolation -->
<!-- property binding and string interpolations can be interchanged but
DO NOT mix both... use either of them. -->


<!-- <p *ngIf="serverCreated">New Server Created; name is : {{serverName}}</p> -->
<!-- This is structural directive which directly changes the DOM
    here if the ngIf condition is met then it will execute/show that HTML element -->

<p *ngIf="serverCreated; else noServer">New Server Created; name is : {{serverName}}</p>
<ng-template #noServer>
    <p>No Server was created!!</p>
</ng-template>
<!-- This is if with else
requires ng-template(component Directive) as to display the element for the else part -->


<div class="app-server"></div>
<div class="app-server"></div>
<div class="app-server"></div>